<template name="actions">
  <div class="columns">
    <div class="field has-addons">
      <div class="control">
        <input id="taskInput" class="input" type="text" placeholder="Tâche">
      </div>
      <div class="control">
        <a id="addTask" class="button is-primary">
      Ajouter
    </a>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="checkbox">
      <input id="isTaskImportant" type="checkbox">
      Important
    </label>
      </div>
    </div>
  </div>
</template>