<template name="dragList">
  <h1 id="clickedTask"></h1>
  <div id="dragList" class='columns'>
    <div id='backlog' class='column'>
      <h2 class="columnTitle">Backlog</h2>
      {{#each backlog}}
      <div class="card colorCode {{colorCode}}">
        <p class="content">{{content}}</p>
      </div>
      {{/each}}
    </div>
    <div id='todo' class='column'>
      <h2 class="columnTitle">Todo</h2>
      {{#each todo}}
      <div class="card colorCode {{colorCode}}">
        <p class="content">{{content}}</p>
      </div>
      {{/each}}
    </div>
    <div id='inProgress' class='column'>
      <h2 class="columnTitle">In progress</h2>
      {{#each inProgress}}
      <div class="card colorCode {{colorCode}}">
        <p class="content">{{content}}</p>
      </div>
      {{/each}}
    </div>
    <div id='meetings' class='column'>
      <h2 class="columnTitle">Meetings</h2>
      {{#each meetings}}
      <div class="card colorCode {{colorCode}}">
        <p class="content">{{content}}</p>
      </div>
      {{/each}}
    </div>
    <div id='blocked' class='column'>
      <h2 class="columnTitle">Blocked</h2>
      {{#each blocked}}
      <div class="card colorCode {{colorCode}}">
        <p class="content">{{content}}</p>
      </div>
      {{/each}}
    </div>
    <div id='done' class='column'>
      <h2 class="columnTitle">Done</h2>
      {{#each done}}
      <div class="card colorCode {{colorCode}}">
        <p class="content">{{content}}</p>
      </div>
      {{/each}}
    </div>
  </div>
   <!--{{#if showModal }}
    {{> modal }}
  {{/if}}-->
</template>