<template name="navigation">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="siteName title">Ezmi</h1>
      </a>
    </div>

    <div id="navMenuTransparentExample" class="navbar-menu">
      {{#if currentUser}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field">
            <p class="control">
              <a id="logout" class="button is-primary" href="/login">Se déconnecter</a>
            </p>
          </div>
        </div>
      </div>
      {{else}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" href="/register">Créer un compte</a>
            </p>
            <p class="control">
              <a class="button is-primary" href="/login">Se connecter</a>
            </p>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</template>