<template name="navigation">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="siteName title">Ezmi</h1>
      </a>
    </div>

    <div id="navMenuTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" href="/register">
  <!--<span class="icon">
    <i class="fa fa-user"></i>
  </span>-->
  <span>
    Créer un compte
  </span>
</a>

            </p>
            <p class="control">
              <a class="button is-primary" href="/login">
             <!-- <span class="icon">
                <i class="fa fa-sign-in"></i>
              </span>-->
              <span>Se connecter</span>
            </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>