<template name="taskDescription">
  <div class="field">
    <label class="label">Description de la tâche:</label>
    <div class="field has-addons">
      <div class="control is-100">
        <textarea id="taskDescriptionInput" class="textarea" placeholder="Écrire une description"></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button id="addTaskDescription" class="button is-primary">
      Ajouter une description
    </button>
      </div>
    </div>
  </div>
</template>