.card {
    padding: 8px;
    padding-left: 12px; //padding-right: 38px;
    position: relative;
    overflow: auto;
    &:hover {
        cursor: move;
    }
}

.deleteTask {
    /*position: absolute!important;
    top: 8px;
    right: 8px;
    padding: 0px 5px!important;
    height: 19px!important;
    opacity: 0;*/
}

#dragList .column {
    background: #f5f5f5;
    margin: 3px;
    border-radius: 4px;
}

#backlog {
    border-top: 3px solid $abestos;
}

#todo {
    border-top: 3px solid $midnightBlue;
}

#inProgress {
    border-top: 3px solid $carrot;
}

#meetings {
    border-top: 3px solid $sunFlower;
}

#blocked {
    border-top: 3px solid $alizarin;
}

#done {
    border-top: 3px solid $emerald;
}

.input {
    min-width: 420px;
}

.importantIcon {
    display: none;
    /*display: block;
    position: absolute;
    right: 8px;
    width: 8px;
    height: 20px;
    background-image: url('../images/important_icon.svg');
    background-size: 8px;
    background-position: top right;
    background-repeat: no-repeat;
    top: 54%;
    transform: translateY(-54%);
    opacity: 0;*/
}

.isImportant {
    opacity: 1;
}

.columnTitle {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.8;
    text-align: center;
}

#selectTask {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#taskInput {
    border-radius: 0px;
    margin-left: -1px;
}

.anti-modal-box {
    width: 100%;
    max-width: 920px;
}

#modalTaskId {
    display: none;
}

// COLORS
.colorCode {
    border-left: 4px solid $abestos;
}

.column {
    .colorRed {
        border-color: $alizarin!important;
        p {
            color: $alizarin;
        }
    }
    .colorBlue {
        border-color: $peterRiver!important;
        p {
            color: $peterRiver;
        }
    }
    .colorGreen {
        border-color: $emerald!important;
        p {
            color: $emerald;
        }
    }
}

.colors {
    .color {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .colorGrey {
        background: $abestos!important;
    }
    .colorRed {
        background: $alizarin!important;
    }
    .colorBlue {
        background: $peterRiver!important;
    }
    .colorGreen {
        background: $emerald!important;
    }
}